.hawaii-background {
	background-image: url(../media/hawaii-bg.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
  	background-position: 64% 75%;
}

.circle {
	border-radius: 50%;
}

.profile-pic {
	border-radius: 50%;
	object-fit: cover;
	width: 190px;
	height: 190px;
	border: 5px solid white;
	object-position: 0% 0%; 
	margin: auto;

}

/* Carousel indicator/button styling */
.carousel-indicators li {
  background-color: #999;
  background-color: rgba(70, 70, 70, 0.25);
}

.carousel-indicators .active {
  background-color: #444;
}

.carousel-inner .d-block {
	height: 80%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 40px;
  width: 40px;
  outline: black;
  border-radius: 50%;
  border: 4px solid black;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-weight: bold;
  font-size: 20px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-weight: bold;
  font-size: 20px;
  color: black;
}

.text-white-bg {
	background-color: rgba(255, 255, 255, .75);
	border-radius: 2%;
	height: 100%;
}

.social {
	width: 33px;
	object-fit: contain;
}

.social-bg {
	background-color: rgba(255, 255, 255, .95);
	border-radius: 2%;
}

.carousel-item {
	height: 200px;
	object-fit: cover;
}
