body {
	font-family: helvetica;
}
ul {
	font-family: monospace;
}

li {
	list-style: circle;
}

/* styling for a class must include '.' (a period) before the class name */
.list {
	list-style: square;
}

/* styling for an individual element must include '#' (a hashtag) before the class name */
#date {
	font-size: 12px;
	font-style: italic;
	font-weight: bold;
}